<header class="header container d-flex justify-content-between">
    <div class="d-flex flex-row align-items-center">
        <a href="/"><img class="logo-img" src="/img/light-theme.png" alt="Imagem do rick com o morty"></a>
    </div>
    <nav class="navbar">
        <img id="change-theme" src="/img/rick.png" alt="">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/characters">Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/locations">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/episodes">Episodies</a>
            </li>
        </ul>
    </nav>

</header>