<header class="header container d-flex justify-content-between">
    <div class="d-flex flex-row align-items-center">
        <a href="/"><img class="logo-img" src="/img/rickmorty-favicon.png" alt="Imagem do rick com o morty"></a>
    </div>
    <nav class="navbar">
        <ul class="nav justify-content-end">
            <!-- <form action="/" class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquise por algo ..." aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form> -->
            <li class="nav-item">
                <a class="nav-link" href="/characters">Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/locations">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Episodies</a>
            </li>
        </ul>
    </nav>

</header>