<%- include('./includes/head') %>

    <section class="bg-dark">
        <main class="container">
            <%- include('./includes/character') %>
        </main>
    </section>

<%- include('./includes/footer') %>