<%- include('./includes/head') %>

    <section class="bg-tini-light d-flex flex-column align-items-center justify-content-center">
        <%- include('./includes/character') %>
    </section>

<%- include('./includes/footer') %>